@font-face {
	font-family: 'spaceranger';
	src: url('spaceranger-rus.otf') format('opentype');
  }
@font-face {
	font-family: 'ebg';
	src: url('ebg.otf') format('opentype');
  }

html{
	max-height: 100vh;
	max-width: 100vw;
}

body {
	font-family: 'ebg', sans-serif;
	background-image: url('./img/bgr.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	
	color: white; /* Цвет текста */
	text-align: center;
  }
  
  header {
	font-family: 'spaceranger', sans-serif;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8); /* Подкладка на задний фон */
	padding: 5px;
	border-radius: 27%;
	width: 50%;
	z-index: 999;
	margin: auto;
  }
  
  footer {
	margin-top: 10px;
	font-family: 'spaceranger', sans-serif;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8); /* Подкладка на задний фон */
	padding: 10px;
  }

  section {
	height: 30vh; /* Высота блоков на половину высоты страницы */
	background-color: rgba(0, 0, 0, 0.66); /* Подкладка на задний фон */
	padding: 10px;
	border-radius: 15%;
	width: 30%;
	margin: auto;
	margin-top: 20px;
}



.block_sections{
	z-index: 10;
}

@media only screen and (max-width: 600px) {
	header {
	  width: 80%; /* Увеличьте ширину хедера для лучшей читаемости */
	}
	
	section {
	  width: 80%; /* Увеличьте ширину секций для лучшей отзывчивости */
	}
}

  ul{
	padding: 0;
  }

  #map {
    text-align: center;
	align-items: center;
	width: auto;
	height: 320px;
	background-color:rgba(0, 0, 0, 0);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.language-selector {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}